.img-div {
  position: relative;
  width: 85%;
  margin: auto;
}

.img-div img {
  width: 100%;
  border-radius: 10px;
}

.img-div .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-div .txt h2 {
  color: aliceblue;
  font-weight: 700;
  font-size: 41px;
}

/* .img-div .txt span {
            color: #ffe598;
        } */

.img-div .txt button {
  margin-top: 20px;
}

.bgcol {
  width: 100%;
  height: 300px;
  z-index: -1;
  position: absolute;
  top: 300px;
  background: linear-gradient(135deg, rgb(248, 239, 220), rgb(251, 251, 224));
  /* padding: 60px 0;
      margin-top: 40px; */
}

.about {
  padding-top: 40px;
  width: 80%;
  margin: auto;
  font-size: large;
  font-weight: 400;
  padding-bottom: 40px;
}

.about h1 {
  margin-bottom: 30px;
}

/* scanner */

.img-div2 {
  width: 100%;
  margin: 20px;
  text-align: center;
}

.img-div2 h5 {
  margin-top: 20px;
}
